body {
    font-family:sans-serif;
    background-color:#f0f0f0;
}

h2 {
    font-size: 120%;
    margin: 0pt 1em 3pt;
    font-family:Courier;
    font-style:italic;
}

h1 {
    font-size: 140%;
    border-bottom: 1pt solid #808080;
    margin:0pt 2em 2pt;
    font-family:Courier;
    font-style:italic;
    border-radius:10px;
    padding:0pt 10pt 0pt;
}


li {
    list-style:none;
    padding: 3pt 0 3pt;
    border-bottom:1pt solid #808080;
    min-height:2em;
}

.fieldid, .rangehint {
    font-size:90%;
    font-style:italic;
}
.fieldname {
    font-size:100%;
}

.fieldvalue, input.number, select {
    font-size:110%;
    font-weight:bold;
}

form {
    display:inline;
}

input.number {
    width:3em;
}

.error {
    color: red;
}

.dashboard li {
    border-bottom:none;
    display:inline-block;
    width: 120pt;
    max-width: 120pt;
    min-height: 60pt;
    margin: 2pt;
    background-color: #d0d0d0;
    border-radius: 5pt;
    vertical-align: top;
}
.dashboard li.empty {
    background:none;
}

.dashboard p {
    margin:auto;
    text-align:center;
    max-width: 100pt;
    overflow-x:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.dashboard p:hover {
    text-overflow:clip;
    overflow-x:visible;
}

.dashwidget .fieldid { font-size:70%; }
.dashwidget .fieldname { font-size:80%; }
.dashwidget .fieldvalue, .dashwidget select, .dashwidget input.number {
    font-size:170%;
}
.dashwidget select { max-width: 3em;}
.dashwidget .rangehint {display:none;}
.dashwidget input[type=submit] {
    display:block;
    margin:auto;
}
